$font-family: "Poppins", sans-serif;
$white: hsl(0, 0%, 100%);
$lightGray: hsl(0, 0%, 86%);
$smokyGray: hsl(0, 1%, 44%);
$offBlack: hsl(0, 0%, 8%);
$purple: hsl(259, 100%, 65%);
$lightRed: hsl(0, 100%, 67%);

@mixin before-after-elements($color, $w, $h) {
  content: "";
  position: absolute;
  background-color: $color;
  width: $w;
  height: $h;
}

html {
  height: 100%;
  line-height: 1.6;
}
body {
  font-family: $font-family;
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
  &::before {
    box-sizing: border-box;
  }
  &::after {
    box-sizing: border-box;
  }
}

main {
  width: 50%;
  background-color: $white;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

  @media (min-width: 1200px) {
    width: 1000px;
  }
  @media (min-width: 992px) and (max-width: 1199px) {
    width: 792px;
  }
  @media (max-width: 991px) and (min-width: 700px) {
    width: 96%;
  }
  @media (max-width: 699px) and (min-width: 400px) {
    width: 100%;
  }
}

input {
  outline: 0;
  &:focus {
    outline: 0;
  }
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.year-sec,
.month-sec,
.day-sec {
  direction: rtl;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.line {
  cursor: pointer;
  &::before {
    @include before-after-elements($lightGray, 848px, 2px);
    right: 100%;
    top: 50%;
    transform: translateY(-50%);
  }
}

.line-num {
  letter-spacing: 48px;
  border: 10px solid $purple;
  min-width: 273px;
  min-height: 116px;
  text-align: center;
  left: 40px;
  padding-left: 45px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  @media (min-width: 992px) and (max-width: 1199px) {
    letter-spacing: 56px;
  }
  @media (max-width: 699px) and (min-width: 375px) {
    letter-spacing: 60px;
    left: 30px;
  }
}
.line-num {
  &.year {
    top: -1rem;
  }
  &.month {
    top: 7.5rem;
  }
  &.day {
    top: 16rem;
  }
}

.inputs {
  @media (max-width: 699px) and (min-width: 375px) {
    flex-direction: column;
    padding: 0;
    margin: 0;
    padding-top: 15px;
  }
  #day-input {
    @media (min-width: 992px) and (max-width: 1199px) {
      width: 100%;
    }
  }
  #month-input {
    @media (min-width: 992px) and (max-width: 1199px) {
      width: 100%;
    }
  }
  #year-input {
    @media (min-width: 992px) and (max-width: 1199px) {
      width: 100%;
    }
  }
}
